html {
    font-family: serif;
    font-size: large;
    background: navy;
}

body {
    background: white;
    color: green;
    padding-left: 10rem;
}

h1 {
    color: red;
    font-family: sans-serif;
}

hr {
    border-top: 1px dashed red;
}

.classeartigo {
    background-color: yellow;
}

.classeartigo .classesobre {
    color: blue;
    font-style: italic;
}