{% extends "base.html" %}

{% block titulo %}INDEX-BLOG{% endblock titulo %}

{% block content %}

   {% for post in posts %}
   <article class="classeartigo">
      <header>
         <div>
            <h1>{{post.title}}</h1>
            <div class="classesobre">
               <p><i>Criado por {{post.autor}} em {{post.created}}.</i></p>
            </div>
         </div>
      </header>
      <P class="classepar">{{post.body}}</P>
   </article>
   {% if not loop.last %}
   <hr>
   {% endif %}
   {% endfor %}
   

   <h1>Danilo de Souza</h1>
   <h2>email danilo@souza.com.br</h2>
   <h3>fone (19) 2318-4431</h3>

{% endblock content %}